<!DOCTYPE html>
<html>
<title>NI Parrot</title>
<meta charset="UTF-8">
<link rel="icon" href="/storage/icon/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,
    h1 {
        font-family: "Raleway", sans-serif
    }
    
    body,
    html {
        height: 100%
    }
    
    .bgimg {
        background-image: url('/storage/welcome/background.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
    
    .background {
        background-color: rgba(0, 0, 0, 0.3);
    }
</style>

<body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
            <img src="/storage/icon/favicon.png" id="" width="100" alt="">
        </div>
        <div class="w3-display-middle background">
            <h1 class="w3-jumbo w3-animate-top">welcome To NI Parrot</h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p class="w3-large w3-center">modern php framework</p>
        </div>
        <div class="w3-display-bottomleft w3-padding-large">
            Powered by BackEnd Dev: <a href="https://www.ahmedhesham.systems/AboutMe" target="_blank">Ahmed Hesham</a>
        </div>
    </div>


</body>

</html>